<% provide :title, t("home") %>
<div class="center jumbotron">
  <h1><%= t "title" %></h1>
  <h2>
    <%= t("intro") %>
    <%= link_to t("rails_tut"), Settings.rails_tut_url %>
    <%= t("sample_app") %>
  </h2>
  <%= link_to t("signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("Rails.png", alt: "Rails logo", id: "rails-img"),
  Settings.image_tag_url %>
